<div class="flex justify-between mt-5">
    <a routerLink="/welcome-page">
    <img src="../../assets/blue-panth-full.png" class="w-24 h-11 ml-5">
    </a>
    <p class="text-6xl text-slate-400 font-bold text-center">Galactic Pets</p>
    <div></div>
</div>
<div class="pl-6 pr-6">
    <div class="text-slate-400 h-20 p-10 bg-[#365087] rounded-[40px]">
        <!-- navigation bar -->
        <div class="-mt-3 rounded-2xl w-full flex justify-between">
            <a [routerLink]="['/user-homepage/',username]">
                <mat-icon class="nav-icons" fontIcon="home"></mat-icon>
            </a>
            <a routerLink="/shopping-cart/{{username}}">
                <mat-icon class="nav-icons" fontIcon="shopping_cart"></mat-icon>
            </a>
            <a routerLink="/login">
                <mat-icon class="nav-icons" fontIcon="logout"></mat-icon>
            </a>

            <!-- search bar -->
            <div class="box -mt-3">
                <form name="search">
                    <input id="searchbar" #searchbar (input)="search(searchbar.value)" 
                    type="text" class="input" name="txt" onmouseout="this.value = ''; this.blur();">
                </form>
                <i><mat-icon class="-ml-6 text-slate-400" fontIcon="search"></mat-icon></i>
            </div>
        </div>
    </div>
</div>

<!-- for loop to display all products -->
<div class="flex flex-wrap gap-4 p-5">
    <div class="text-slate-400" *ngFor="let product of products">
        <app-product-view [product]="product" [admin]="false" [username]="username">
        </app-product-view>
    </div>
</div>
<div class="text-slate-400 ml-10 text-4xl" *ngIf="products.length == 0">
    <p>
        Hmmmmmm we couldn't find the pets you're looking for. Maybe try modifying your search?
    </p>
</div>