<!-- Information -->
<div *ngIf="!deleted && !cartPage">
    <h2>{{product.name}}</h2>
    <p>Species: {{product.species}}</p>
    <p>Color: {{product.color}}</p>
    <p>Age: {{product.age}}</p>
    <p>Desription: {{product.description}}</p>
    <p>Price: ${{product.price.toFixed(2)}}</p>
</div>
<!-- admin options -->
<div *ngIf="!deleted && admin">
    <button routerLink="/admin-product/{{product.id}}">Edit</button>
    <button (click)="delete()">Delete</button>
</div>
<!-- buyer options -->
<div *ngIf="!deleted && !admin && !cartPage">
    <div *ngIf="!inShoppingCart">
        <button (click)="addToShoppingCart()">Add to Shopping Cart</button>
    </div>
    <div *ngIf="inShoppingCart">
        <button (click)="removeFromShoppingCart()">Remove from Shopping Cart</button>
    </div>
</div>
<!-- deleted message -->
<div *ngIf="deleted">
    <p #deletedMessage>{{product.name}} has been deleted.</p>
</div>
<!-- shopping cart view -->
<div *ngIf="!deleted && cartPage && inShoppingCart">
    <h2>{{product.name}}</h2>
    <p>Price: ${{product.price.toFixed(2)}}</p>
    <button (click)="removeFromShoppingCart()">Remove</button>
</div>
