<div class = "whole-page">
    <h1 class = "title-name">Galactic Pets</h1>
    <div class = "admin-page-body">
        <!-- navigation bar -->
        <nav>
            <a routerLink="/admin-homepage">Home</a>
            <a routerLink="/login">Log Out</a>
        </nav>
        <!-- search bar -->
        <input id="searchbar" #searchbar (input)="search(searchbar.value)"><br>
        <!-- add product button -->
        <button routerLink="/admin-product/0">Add Product</button>
        <!-- for loop to display all products -->
        <li *ngFor="let product of products">
            <app-product-view [product]="product" [admin]="true" [cartPage]="false"></app-product-view>
        </li>
        <div *ngIf="products.length == 0">
            <p>There are no products in the inventory that match your search.</p>
        </div>
    </div>
</div>