<div class = "whole-page">
    <h1 class = "title-name">E-Store Name</h1>
    <div class = "log-in-body">
        <div class = "title">
            <h2>Log In</h2>
            <p>Don't have an account?  <a>Sign Up Here</a></p>
        </div>
        <p id="createAccountFailedMessage" [style.display]="display">{{errorMessage}}</p>
        <div class = "log-in-inputs">
            <div id="inputs">
                <p class="inputLabel">Username:</p>
                <input id="username" #username>
                <p class="inputLabel">Password:</p>
                <input id="password" type="password" #password>
            </div>
            <div class = "center-button">
            <button class = "log-in-button" (click)="createAccount(username.value, password.value)">Log In</button>
            </div>
        </div>
    </div>
</div>

